<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Event details</title>
    <th:block th:replace="~{includes/generalScript::head}"></th:block>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="float-left">
            <a class="navbar-brand" th:href="@{~/homePage.html}"
               style="font-size:32px;font-weight:bolder;font-family:Georgia,serif;">MeetUp</a>
        </div>
        <div class="float-right">
            <a sec:authorize="isAuthenticated()" class="btn btn-primary" type="submit" th:href="@{~/event.html}">Dodaj wydarzenie</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-primary" type="submit" th:href="@{~/sign-in.html}">Zaloguj
                się</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-primary" type="submit" th:href="@{~/registerForm.html}">Zarejestruj
                się</a>
            <a sec:authorize="isAuthenticated()" type="submit" class="btn btn-primary" th:href="@{/logout}"    >Wyloguj</a>
        </div>
    </div>
</nav>
<br>
<br>
<div th:object="${eventDto}">
    <div class="form-group">
        <div th:text="${eventDto.title}" style="text-align:center;font-size:32px;font-weight:bolder;text-color:black"></div>
    </div>
    <br>
    <div class="float-right" style="background-color:rgb(234, 234, 234); width:15%" >
        <div class="form-group" style=" padding: 15px;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd"
                      d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <label for="inputDateFrom" style="font-style: italic;">Data rozpoczęcia</label>
            <div th:text="${eventDto.from}" id="inputDateFrom"></div>
        </div>
        <br>
        <div class="form-group" style=" padding: 15px;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd"
                      d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <label for="inputDateTo" style="font-style: italic">Data zakończenia</label>
            <div th:text="${eventDto.to}" id="inputDateTo"></div>
        </div>
    </div>
    <br>
    <button class="btn btn-primary" type="button" data-toggle="collapse"
            data-target="#inputDescription" aria-expanded="false" aria-controls="inputDescription">Opis wydarzenia
    </button>
    <div class="collapse" id="inputDescription">
        <div class="card card-body" th:text="${eventDto.description}">
        </div>
    </div>
</div>
    <br>
    <br>
    <!--    ----------------------------------------------------------------------------------------------------------->
<!--    <form method="post" th:actions="@{'/comment-add/' + ${eventDto.id}}" th:object="${commentDto}">-->
<!--        <div>-->
<!--            <div class="form-group">-->
<!--                <label for="inputComment" style="font-style: italic">Dodaj komentarz</label>-->
<!--                <input class="form-control" type="text" name="content" placeholder="Zaloguj się by dodać komentarz"-->
<!--                       id="inputComment">-->
<!--                <small class="form-text text-muted">Maksymalna długość komentarza - 500 znaków.</small>-->
<!--            </div>-->

<!--            <button sec:authorize="isAuthenticated()" type="submit"-->
<!--                    class="btn btn-primary">-->
<!--                Dodaj komentarz-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--    <form method="post" th:actions="@{/user-to-event-add}">-->
<!--        <div>-->
<!--            <button sec:authorize="isAuthenticated()" type="submit"-->
<!--                    class="btn btn-primary">-->
<!--                Dopisz się do wydarzenia-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--    &lt;!&ndash;    &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <form>-->
<!--        <table class="table table-striped" th:each="listElement : ${commentsList}">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td th:text="${listElement.getContent()}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </form>-->

<th:block th:replace="~{includes/generalScript::end-of-body}"></th:block>
</body>
</html>