<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Strona główna MeetUp</title>
    <th:block th:replace="~{includes/generalScript::head}"></th:block>
</head>
<body>
<!--<h1 style="color: blue;">MeetUp</h1>-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="float-left">
            <a class="navbar-brand" th:href="homePage.html"
               style="font-size:32px;font-weight:bolder;font-family:Georgia,serif">MeetUp</a>
        </div>
        <div class="float-right">
            <a sec:authorize="!isAuthenticated()" class="btn btn-primary" type="submit" th:href="sign-in.html">Zaloguj
                się</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-primary" type="submit" th:href="registerForm.html">Zarejestruj
                się</a>
        </div>
        <div class="float-right" sec:authorize="isAuthenticated()">
            <a type="submit" class="btn btn-primary" th:href="@{/logout}">Wyloguj</a>
        </div>
    </div>
</nav>
<div th:replace="includes/searchBar::searchBar"></div>
<br>
<div th:replace="includes/addEventAndLoggedUser::addEventAndLoggedUser"></div>
<div th:replace="includes/eventsList::eventsList"></div>

<!--<div class="form-group">-->
<!--    <button type="submit" class="btn btn-primary" th:href="logout.html">Zaloguj</button>-->
<!--</div>-->
<th:block th:replace="~{includes/generalScript::end-of-body}"></th:block>
</body>
</html>