<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Strona główna MeetUp</title>
    <th:block th:replace="~{includes/generalScript::head}"> </th:block>
</head>
<body>
<h1 style="color: blue;">MeetUp</h1>
<div th:replace="includes/searchBar::searchBar"></div>
<br>
<div th:replace="includes/loginAndRegistration::loginAndRegistration"></div>
<div th:replace="includes/addEventAndLoggedUser::addEventAndLoggedUser"></div>
<div th:replace="includes/eventsList::eventsList"></div>
<th:block th:replace="~{includes/generalScript::end-of-body}"> </th:block>
</body>
</html>