<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterForm</title>
    <th:block th:replace="~{includes/generalScript::head}"></th:block>
</head>
<body>
<form method="post" th:actions="@{/registerForm}" th:object="${userDto}">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid,float-left">
                <a class="navbar-brand" th:href="homePage.html" style="font-size:32px;font-weight:bolder;font-family:Georgia,serif">MeetUp</a>
        </div>
    </nav>
    <div class="form-group, col-md-6">
        <label for="inputName">Nazwa użytkownika</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Wpisz swoją nazwę użytkownika."
               th:field="*{name}">
        <span th:errors="*{name}">Invalid username</span>
        <small class="form-text text-muted">Maksymalna długość - 50 znaków.</small>
    </div>

    <br>

    <div class="form-group, col-md-6">
        <label for="inputPassword1">Hasło</label>
        <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Wpisz hasło">
        <small class="form-text text-muted">Hasło – musi mieć przynajmniej 8 znaków, ale nie więcej niż 30.</small>
    </div>

    <br>

    <div class="form-group, col-md-6">
        <label for="inputEmail1">Email</label>
        <input type="email" class="form-control" id="inputEmail1" name="email" placeholder="Wpisz mail">
        <br>
        <button type="submit" class="btn btn-primary" th:href="homePage.html">Zarejestruj</button>
    </div>
</form>

<th:block th:replace="~{includes/generalScript::end-of-body}"></th:block>
</body>
</html>