<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="addEventAndLoggedUser">
    <div sec:authorize="isAuthenticated()">
        <div class="fixed-top">
            <div class="float-right">
                Zalogowany jako: <span th:text="${userEmail}">Username</span>
                <a sec:authorize="isAuthenticated()" class="btn btn-primary" type="submit" th:href="event">Dodaj wydarzenie</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>