<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<form method="get" th:actions="@{/event_details.html}">
    <div th:fragment="eventsList" th:if="${not #lists.isEmpty(list)}">
        <div>
            <p style="text-align:center; font-size:28px; font-family:Georgia,serif;color:rgb(0,100,255);">Lista
                wydarzeń</p>
        </div>
        <div th:each="element : ${list}">
            <table class="table table-dark table-striped" style="margin-right:150px;">
                <tr>
                    <th colspan="4" style="text-align:center" width="150px">
                        <a th:href="@{'/event_details/' + ${element.getId()}}"
                           th:text="${element.title}"> </a>
                    </th>
                </tr>
                <tr>
                    <td style="text-align:left">Początek wydarzenia:</td>
                    <td th:text="${element.from}" style="text-align:left"></td>
                    <td style="text-align:left">Koniec wydarzenia:</td>
                    <td th:text="${element.to}" style="text-align:left"></td>
                </tr>
                <tr>
                    <td th:text="${element.description}" colspan="4"></td>
                </tr>
            </table>
        </div>
    </div>
</form>
</body>
</html>