<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Pasek wyszukiwarki</title>
</head>
<body>
<div th:fragment="searchBar">
    <form class="form-inline active-cyan-3 active-cyan-4" th:actions="@{/searchResults}" method="get">
        <i class="fas fa-search" aria-hidden="true"></i>
        <div class="col-md-8">
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Wpisz szukany event"
                   aria-label="Search" th:value="${title}" name="title">
            <button class="btn btn-primary" type="submit" href="searchResult">Szukaj</button>
        </div>
    </form>
</div>
</body>
</html>